<h1>Avenger Form:</h1>

<form (ngSubmit)= "onSubmit()" [formGroup]="avengerForm">
  <fieldset>
    <label for="superName">Name of Hero:</label>
    <input type="text" id="superName" formControlName="superName">
    <div *ngIf="!avengerForm.get('superName')?.invalid && submitted">
      <p>SuperName ERROR</p>
    </div>
  </fieldset>
  <fieldset>
    <label for="alias">Alias of Hero:</label>
    <input type="text" id="alias" formControlName="alias">
    <div *ngIf="!avengerForm.get('alias')?.invalid && submitted">
      <p>alias ERROR</p>
    </div>
  </fieldset>
  <fieldset>
    <label for="age">Age of Hero:</label>
    <input type="number" id="age" formControlName="age">
    <div *ngIf="!avengerForm.get('age')?.invalid && submitted">
      <p>age ERROR</p>
    </div>
  </fieldset>
  <fieldset>
    <label for="email">Email of Hero:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="!avengerForm.get('email')?.invalid && submitted">
      <p>email ERROR</p>
    </div>
  </fieldset>
  <button type="submit" [disabled]="avengerForm.invalid">Enviar!</button>

</form>

<div>
  <h1>Avenger List:</h1>
  <app-avenger-list [avengerCompleted] = "avengerCompleted"></app-avenger-list>
</div>
